@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

/* style header 
--------------------------------------*/
.header{
  padding:16px 0 15px;
  max-width:1064px;
  margin:0 auto;
  display:flex;
}

.menu__list, .header-options{
  padding:10px 0 0 10px;
  display: flex;
}

.header__logo{
  margin: auto 0;
  margin-left:83px;
}

.header-options{
  margin-left:355px;
}

.menu__item{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  margin-right:24px;
  color:#000
}
.menu__link{
  color:#000;
}

.header-options__search{
  margin: 0 7px 0 15.93px;
}

.header-options__link > svg{
  width:21px;
  margin-top:18px;
}

.hero-section {
  display: flex;
  padding: 0px 80px;
  background-color: #F0EFEB;
}

.text-block {
  max-width: 700px;
  padding: 90px 0 89.81px;
}

.text-block h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 28px 120px;
}

.text-block p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 26px 120px;
}

.image-block {
  padding: 0 0 0 112px;
}

.image-block img {
  max-width: 599px;
}

.shop-button{
  background-color: #000;
  color: #ffffff;
  padding: 8px 23px;
  font-size: 17px;
  font-weight: 400;
  border-radius: 28px;
  cursor: pointer;
  margin: 0 0 0 120px;
}

